{% extends "templ-min.html" %}

{% block title %}Добро пожаловать в бету{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron alert-info" style="margin: 10% 0;">
		<h1>
			Добро пожаловать в бету!
		</h1>
		<p>
			Мы рады вас приветствовать в тренажёре "Час ЕГЭ" версии 2.0
			<br>
			Тренажёр всё ещё находится в бета-стадии, но вы уже можете его опробовать.
		</p>
		<p>
			<a href="./random-task.html" class="btn btn-primary btn-lg">
				Опробовать
			</a>
		</p>
	</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
